<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd"
	default-lazy-init="true">

	<description>Activiti Configuration</description>

	<!-- 加载配置属性文件 -->
	<context:property-placeholder ignore-unresolvable="true" location="classpath*:activiti.properties" />

	<!-- Activiti begin -->

	<bean id="activitiDataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="${activiti.jdbc.driver}" />
		<property name="url" value="${activiti.jdbc.url}" />
		<property name="username" value="${activiti.jdbc.username}" />
		<property name="password" value="${activiti.jdbc.password}" />
	</bean>

	<bean id="activitiTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="activitiDataSource" />
	</bean>

	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
		<property name="dataSource" ref="activitiDataSource" />
		<property name="transactionManager" ref="activitiTransactionManager" />

		<!-- 自动部署 -->
		<!-- <property name="deploymentResources" value="classpath*:/org/activiti/spring/test/autodeployment/autodeploy.*.bpmn20.xml" /> -->
		<!-- <property name="deploymentMode" value="single-resource" /> -->

		<property name="databaseSchemaUpdate" value="true" />
		<property name="jobExecutorActivate" value="false" />
		<property name="history" value="full" />
		<property name="processDefinitionCacheLimit" value="10" />

		<!-- UUID作为主键生成策略 -->
		<!-- <property name="idGenerator" ref="idGen" /> -->

		<!-- 生成流程图的字体 -->
		<property name="activityFontName" value="${activiti.diagram.activityFontName}" />
		<property name="labelFontName" value="${activiti.diagram.labelFontName}" />

	</bean>

	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>

	<bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService" />
	<bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
	<bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService" />
	<bean id="managementService" factory-bean="processEngine" factory-method="getManagementService" />

	<bean id="formService" factory-bean="processEngine" factory-method="getFormService" />
	<bean id="identityService" factory-bean="processEngine" factory-method="getIdentityService" />
	<!-- Activiti end -->

	<!-- 集成REST服务需要的bean -->
	<bean id="restResponseFactory" class="org.activiti.rest.service.api.RestResponseFactory" />
	<bean id="contentTypeResolver" class="org.activiti.rest.common.application.DefaultContentTypeResolver" />
	
	<bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper" />
</beans>