li {
	list-style-type: square;
}

.layui-fluid {
	width: 1365px;
}

#cms_nav_menu {
   background-color :#0D59A7; 
}

#cms_nav_menu li:hover {
	background-color :#01439A;
<<<<<<< HEAD
} 

.layui-carousel{
	width : 100%!important;
}

.layui-anim-upbit{
	background-color: #0D59A7;
}

.layui-anim-upbit a:hover{
	background-color: #01439A!important;
	color:#ffffff!important;
}

.layui-anim-upbit a{
	color:#e6e6e6!important;
}


=======
}

/* #cms_nav_menu .layui-anim-upbit{
	background-color :#0D59A7;
	color : #FEFEFE!important; 
}

#cms_nav_menu .layui-anim-upbit:hover {
	color : #FEFEFE!important; 
} */

.layui-carousel{
	width : 100%!important;
}

>>>>>>> 9188de5855b76d90d98766e10b924bfccbd8f502
#cms_first_nav .layui-card {
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}

#cms_first_nav .layui-card-body {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.cms-side {
	width: 220px;
	z-index: 1001;
}

.cms-side {
	position: absolute;
	left: 0;
	z-index: 999;
	width: 200px;
	overflow-x: hidden;
}

.cms-side-menu {
	box-shadow: 1px 0 2px 0 rgba(0, 0, 0, .05);
}

.cms-body {
	left: 220px;
	position: absolute;
}

.cms_xsyj img {
	width: 100%;
	height: 200px;
}

.cms_tztg .cms_tztg_sj {
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-color: #e6e6e6;
}

.cms_tztg .cms_tztg_js {
	padding-left: 15px;
}

.cms_tztg .layui-row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.cms_tztg .layui-row:hover, .cms_tztg .active{
	background-color: #2A3E85;
	color: #FEFEFE!important;
}

.cms_xsyj .cms_xsyj_title {
	font-size: 21px;
	line-height: 24px;
	vertical-align: middle;
	text-align: left;
}

.cms_xsyj .cms_xsyj_title .symbol {
	vertical-align: middle;
	line-height: 24px;
	font-size: 18px;
	padding-bottom: 6px;
	margin-right: 6px;
	color: #007B42;
}

.cms_xsyj .cms_xsyj_title:hover, .cms_xsyj .cms_xsyj_title .symbol:hover
	{
	color: #01518E;
}

.cms_news_photo {
	height: 500px;
	width: 100%;
}

.layui-elem-quote {
	border-width: 0px !important;
}

.layui-table-cell span {
	font-size: 8px;
}

.layui-table-view {
	border-width: 0px
}

.crumb {
	font-size: 16px;
	padding: 30px 0 30px 30px;
}

tr {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #e6e6e6;
}

.cms_content_title{
	font-size:34px;
	padding: 40px 0;
	color: #ff0033;
	font-family: 'ו';
	text-align: center;
	font-weight: bold;
}

.cms_content_msg{
	font-size:34px;
	padding: 40px 0;
	/* color: #ff0033; */
	font-family: 'ו';
	text-align: center;
	font-weight: bold;
	min-height : 500px;
}

.cms_content_info {
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #c9c9c9;
}

.cms_content_info span{
	margin: 0 10px;
	font-size: 16px;
}

.cms_content_txt{
	color: #505050;
	font-size: 14px;
	line-height: 24px;
	text-indent: 28px;
	padding: 20px 0;
	min-height : 500px;
}

/* .crumb a.last {
	color: #5886e8;
} */

.crumb a.last {
	color: #5886e8;
}